/* LOGIN */

.login{
    font-family: 'Kanit', sans-serif;
    background-color: rgb(255,255,255);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    z-index: 100;
}

.inline-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input-username,
.input-password{
    font-family: 'Kanit', sans-serif;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 17px;
}

.input-password:focus,
.input-username:focus{
    outline: none;
}

.title-login{
    padding-bottom: 20px;
    font-size: 30px;
}

.button-login{
    margin-top: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    border: none;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255,255,255);
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
}

/* PROFILE */

.profile{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    display: grid;
    place-items: center;
    padding: 50px 0;
}

.inline-profile{
    display: flex;
    gap: 50px;
}

.profile-image{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.info-profile{
    text-align: center;
}

.inline-info{
    padding: 20px 0;
    display: flex;
    gap: 30px;
}

.description{
    padding-top: 20px;
}